include includes/head
body
    include includes/nav
    .container
        .row.text-center.egress-template
            h1 Account
            p#welcome Welcome to your account, #{user}

    include includes/scripts