!!!5
html(lang="en")
  head
    title #{title} - #{siteName}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="#{siteDescription}")
    meta(name="author", content="#{siteAuthor}")
    block styles
      link(href="dist/css/bootstrap.min.css", rel="stylesheet")
      link(href="assets/css/egress.css", rel="stylesheet")
    | <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    | <!--[if lt IE 9]>
    |  <script src="assets/js/html5shiv.js"></script>
    |  <script src="assets/js/respond.min.js"></script>
    | <![endif]-->